* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgb(93, 21, 21);
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;          
  height: 100vh;         
  background: rgb(212, 186, 186);
  padding: 20px;
  overflow-y: auto;
  border-right: 2px solid #aaa;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

header.hidden {
  transform: translateX(-100%);
}

header .navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.nav-menu {
  list-style: disc inside;
}

.nav-item {
  list-style: none;
  margin-bottom: 12px;
  margin-top: 12px;
}

.nav-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link.active {
  transition: all 0.3s ease;
  color: darkred;
  font-weight: bold;
  
}

#toggle-btn {
  position: fixed;
  top: 20px;
  left: 260px;
  z-index: 1100;
  background: darkred;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: left 0.3s ease-in-out;
}


header.hidden + #toggle-btn {
  left: 25px;
}

main {
  margin-left: 270px;
  padding: 30px;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

header.hidden ~ main {
  margin-left: 50px;
}

#menuTitle {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  -webkit-text-fill-color: #fff;
  background: rgb(109, 19, 19);
}

section {
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#analytical {
  margin-top: -10px;
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 10px;
  padding: 5;
  font-size: 22px;
  color: #222;
}

section p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
  color: #672323;
}

footer{
  margin-bottom: 80px;
  padding: 20px;
  border: 1px solid #582323;
  border-radius: 10px;
  background: #be9494;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
footer h3 {
  margin-bottom: 15px;
  font-size: 25px;

}
footer p{
  font-size: 20px;
  line-height: 1.6;
  color: #4e2020;
}

.timeline-img {
  width: 100%;
  max-width: 500px;
  height: 250px;
  object-fit: cover;
  border-style: solid;
  border-radius: 10px;
  border-color: #4e2020;
  margin-top: 10px;
  float: left;
  margin-right: 15px;
}